<% provide(:title, @profile.first_name) %>
<div class="row">
 <aside class="span4">
  <section>
   <h1>  
     <%= @profile.first_name %>
     <%= @profile.last_name %>
     <%= @profile.age %>
     <%= @profile.gender %>
     <%= @profile.fam_stat %>
     <%= @profile.religion %>
     <%= @profile.occupation %>
     
   </h1>
  </section>
 </aside>
</div>